:root {
	--header-font-size: 0.9em;
	--header-title-size: 0.9em;
}

body {
	margin: 0;
	font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
		sans-serif;
}

.body-content{
	padding: 10px 100px;
}

.topnav {
	/* display: flex; */
	/* position: relative; */
	padding: 15px 100px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.05);
}

.topnav p {
	float: left;
	text-align: center;
	font-size: var(--header-title-size);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

.topnav-right {
	/* right: 60px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%); */
	float: right;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: var(--header-font-size);
	text-transform: uppercase;
	letter-spacing: 0.09em;
}

.dropdown .dropbtn {
	font-size: var(--header-font-size);
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.active {
	text-decoration-style: solid;
	color: white;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
	background-color: #555;
	color: white;
	border-radius: 5px;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 720px) {
	.topnav a:not(:first-child),
	.dropdown .dropbtn {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 720px) {
	.topnav {
		padding: 10px 50px;
	}
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive .dropdown-content {
		position: relative;
	}

	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}
